.hero {

    display: flex;
    justify-content: space-between;
    padding-top: min(45px, max(calc(var(--vw) * 45), 20px));
    padding-bottom: min(165px, max(calc(var(--vw) * 165), 90px));
    background-color: var(--background-light);
    overflow: hidden;
    
    @media (max-width: 767px) {
        flex-direction: column;
        align-items: center;
        padding-bottom: 53px;
    }
    @media (max-width: 375px) {
        align-items: normal;
    }
    &__block {
        width: 50%;
        margin-right: 34px;
        @media (max-width: 767px) {
            width: 100%;
        }
    }
    &__overline {
        border-top: 1px solid var(--grey-light50);
        width: 35%;
        margin-bottom: 16px;
        @media (max-width: 767px) {
            border-top: 0px;
            width: 100%;
        }
    }
    &__overline-text {
        display: none;
        padding: 0;
        margin: 0;
        // font-family: "Outfit", sans-serif;
        // font-family: "Public Sans", sans-serif;
        // font-family: "Inter", sans-serif;
        // font-family: "Poppins", serif;
        font-weight: 600;
        font-size: min(18px, max(calc(var(--vw) * 18), 12px));
        font-style: normal;
        line-height: min(12px, max(calc(var(--vw) * 12), 11px));
        letter-spacing: 1.23px;
        color: var(--grey);
        @media (max-width: 767px ) {
            display: flex; 
            align-items: center;
            justify-content: center;
            column-gap: 12px;
            &::before {
                content: '';
                border-top: 2px solid var(--grey-light50);
                width: 33px;
            }
        }
    }
    &__title {
        font-weight: 600;
        font-size: calc(var(--vw) * 75);
        font-size: min(80px, max(calc(var(--vw) * 80), 40px));
        line-height: min(91px, max(calc(var(--vw) * 91), 60px));
        letter-spacing: -3px;
        color: var(--title);
        padding-bottom: 12px;
        @media (max-width: 767px) {
            text-align: center;
            padding-left: 30px;
            padding-right: 30px;
        }
        @media (max-width: 375px) {
            font-size: min(50px, 10vw);
            line-height: min(60px, 16vw);
        }
    }
    &__text {
        
        padding-bottom: 32px;
        @media (max-width: 767px) {
            text-align: center;
            padding-left: 30px;
            padding-right: 30px;
        }
    }
    &__comment {
        padding: 0;
        margin: 0;
        font-family: "Inter", sans-serif;
        font-weight: 400;
        font-size: min(18px, max(calc(var(--vw) * 18), 12px));
        line-height: min(30px, max(calc(var(--vw) * 30), 18px));
        letter-spacing: normal;
        color: var(--paragraph);
        padding-right: calc(var(--vw) * 28);
        @media (max-width: 767px) {
            text-align: center;
            padding-right: 0;
        }
    }
    &__bold {
        font-family: "Inter", sans-serif;
        font-weight: 600;
        font-size: min(18px, max(calc(var(--vw) * 18), 12px));
        line-height: calc(var(--vw) * 28);
        line-height: min(30px, max(calc(var(--vw) * 30), 18px));
        letter-spacing: normal;
        color: var(--title);
    }

    &__btns {
        display: flex;
        @media (max-width: 767px) {
            justify-content: center;
        }
        @media (max-width: 300px) {
            flex-direction: column;
            margin: 0 auto;
        }
    }

    &__custom {
        width: auto;
        height: auto;
        padding: min(33px, max(1.25vw, 10px)) min(76px, max(2.22vw, 10px));
        margin-right: calc(var(--vw) * 65);
        @media (max-width: 1024px) {
            font-weight: 500;
            letter-spacing: normal;
        }
        @media (max-width: 767px) {
            border-radius: 8px;
            padding: 13px 14px;
            font-size: 12px;
            font-style: normal;
            line-height: 17px;
            letter-spacing: 1px;
        }
    }
    &__features {
        display: flex;
        padding-top: 58px;
        width: 100%;
        justify-content: space-between;
        padding-right: 30%;
        @media (max-width: 767px) {
            display: none;
        }
    }
    &__value {
        font-weight: 600;
        font-size: min(37px, max(calc(var(--vw) * 37), 26px));
        line-height: 46px;
        line-height: calc(var(--vw) * 46);
        letter-spacing: normal;
        color: var(--title);
        padding-bottom: 4px;
    }

    &__name {
        font-weight: 500;
        font-size: min(13px, max(calc(var(--vw) * 13), 12px));
        line-height:  min(18px, max(calc(var(--vw) * 18), 12px));
        letter-spacing: normal;
        color: var(--paragraph);
    }
    &__views {
        width: auto;
        @media (max-width: 767px) {
            overflow: hidden;
            width: 100%;
            // margin: 0 auto;
            padding-left: 30px;
        }
    }
    &__grid {
        display: grid;
        grid-template-areas: "area-1 area-2 "
                             "area-1 area-4"
                             "area-3 area-4";
        column-gap: calc(var(--vw) * 40);
        column-gap: min(calc(var(--vw) * 40), 40px);
        column-gap: min(42px, max(calc(var(--vw) * 42), 10px));
        // justify-items: end;
        @media (max-width: 767px) {
            column-gap: 10px;
        }
    }
    &__active-size {
        width: min(400px, max(calc(var(--vw) * 400), 280px));
        height: min(400px, max(calc(var(--vw) * 400), 280px));
        @media (max-width: 767px) {
            width: 58vw;
            height: 58vw;
        }
        @media (max-width: 375px) {
            width: max(70px, 55.5vw);
            height: max(70px, 56vw);
        }
    }
    &__active-inner {
        grid-area: area-1;
        margin-top: 11px;
        overflow: hidden;
        box-shadow: 5px 14px 30px 8px var(--blur);
        border-radius: 25px;
    }
    &__active-slides {
        display: flex;
        width: 500%;
        transition: transform 300ms ease;
        will-change: transform;
        border-radius: 25px;
    }
    &__active-img {
        object-fit: cover;
        border-radius: 25px;
    }
    &__following-size {
        width: min(329px, max(calc(var(--vw) * 329), 170px));
        height: min(329px, max(calc(var(--vw) * 329), 170px));
        // height: min(322px, max(calc(var(--vw) * 322), 171px));
        border-radius: 25px;
        @media (max-width: 767px) {
            width: 40vw;
            height: 40vw;
        }
        @media (max-width: 375px) {
            width: max(70px, 45.4vw);
            height: max(70px, 45.4vw);
        }
    }
    &__following-inner {
        grid-area: area-4;
        overflow: hidden;
        box-shadow: -5px 14px 30px 0px var(--blur);
        border-radius: 25px;
        transform: translateX(10%);
        z-index: 111;

    }
    &__following-slides {
        display: flex;
        flex-direction: column;
        height: 500%;
        will-change: transform;
        transition: transform 300ms ease;
        border-radius: 25px;
    }
    &__following-img {
        object-fit: cover;
    }
    &__ornament {
        grid-area: area-2;
        display: flex;
        align-items: flex-end;
        background: url('./assets/img/dot_ornament.png') right center no-repeat;   
        height: min(180px, max(calc(var(--vw) * 180), 102px));

        position: relative;
        @media (max-width: 1024px) {
            background-size: cover;
            background-size: contain;
        }
        @media (max-width: 767px) {
            width: 35vw;
            height: 27vw;
        }
        @media (max-width: 375px) {
            width: max(20px, 35vw);
            height: max(20px, 27.2vw);
        }
        &::before {
            content: "";
            background: url('./assets/img/arrow.png') no-repeat center / cover ; 
            width: min(150px, max(calc(var(--vw) * 150), 58px));
            height: min(150px, max(calc(var(--vw) * 150), 56px));
            position: absolute;
            left: 0;
            @media (max-width: 767px) {
                width: 15vw;
                height: 14vw;
            }
            @media (max-width: 375px) {
                width: max(20px, 15.5vw);
                height: max(20px, 15vw);
            }
        }
    }
    &__action {
        grid-area: area-3;
        display: flex;
        padding-top: calc(var(--vw) * 71);
        justify-content: center;
        @media (max-width: 767px) {
            padding-bottom: 60px;
            padding-top: 38px;
        }
    }
    &__rating {
        display: none;
        @media (max-width: 767px) {
            display: flex;
            align-items: center;
            justify-content: center;
            column-gap: 16px;
            padding-top: 19px;
            // padding-bottom: 61px;
            padding-bottom: 16vw;
        }
        @media (max-width: 300px) {
            flex-direction: column;
            row-gap: 16px;
            margin: 0 auto;
        }
        
    }
    &__logo-trustpilot {
        width: 130px;
        height: 26px;
        background: url('./assets/img/logo-trustpilot.svg') no-repeat center ; 
        // background-size: cover;
        // transition: 1s;
    }
    &__star-block {
        display: flex;
        align-items: flex-end;
        column-gap: 3px;
        padding-top: 3px;
    }
    &__star {
        width: 13px;
        height: 13px;
        background-image: url('./assets/img/star_yellow.svg');
        background-repeat: no-repeat;
        background-position: 100% 0%;
        background-size: cover;
        // transition: 1s;
    }
    &__star-value {
        font-size: 12px;
        line-height: 12px;
        padding-left: 7px;
    }
   
}
