.weekly {
    background-color: var(--background-grey);
    padding-top: min(70px, max(calc(var(--vw) * 70), 50px));
    padding-bottom: min(100px, max(calc(var(--vw) * 100), 40px));
    overflow: hidden;
    // max-width: calc(var(--container-width));
    margin: 0 auto;
    &__title {
        padding: 0;
        margin: 0;
        font-weight: 600;
        font-size:  min(45px, max(calc(var(--vw) * 45), 32px));
        line-height: min(27px, max(calc(var(--vw) * 27), 19px));
        font-style: normal;
        letter-spacing: normal;
        color: var(--grey-light-contrast);
        text-align: center;
        padding-bottom: min(100px, max(calc(var(--vw) * 100), 70px));
        // padding-bottom: min(100px, max(calc(var(--vw) * 100), 70px));
        @media (max-width: 375px) {
            font-size:  28px;
            line-height: 30px;
            padding-bottom: 30px;
        }
    }
    &__slides {
        display: flex;
        width: 300%;
        position: relative;
        will-change: transform;
        transition: transform 300ms ease;
    }
    &__btns {
        padding-top: min(114px, max(calc(var(--vw) * 114), 81px));
        display: flex;
        justify-content: center;
    }
    &__wrep {
        width: min(282px, max(calc(var(--vw) * 282), 199px));
        height: min(403px, max(calc(var(--vw) * 403), 286px));
        margin-right: min(40px, max(calc(var(--vw) * 40), 28px));
        @media (max-width: 767px) {
            width: 198px;
            height: 284px;
        }
    }
}
