.first {
    background-color: var(--background-light);
    width: min(1441px, max(calc(var(--vw) * 1441), 1024px));

    margin: 0 auto;
    padding-left: var(--padding-x);
    padding-right: var(--padding-x);
    @media (max-width: 1024px) {
        width: 100vw;
    }
    @media (max-width: 767px) {
        padding: 0;
    }
    &__content {
        margin: 0 auto;
        overflow-x: auto;
        display: flex; 
        align-items: center;

        height: 964px;
        max-height: 1024px;
        @media (max-width: 1440px) {
            height: min(1025px, max(calc(var(--vw) * 1025), 728px));
        }
        @media (max-width: 1024px) {
            height: 728px;
            //
            
        }
        @media (max-width: 767px) {
            flex-direction: column;
            width: 100%;
            height: auto;
            margin: 80px auto 120px;
            // padding: 0;
            // margin: 0;
            max-width: none;
            min-height: auto;
        }
    }
    &__left {
        padding: min(42px, max(calc(var(--vw) * 42), 32px));
        width: min(778px, max(calc(var(--vw) * 778), 552px));
        background-color: var(--background-light);
        height: 100%;

        display: flex;
        flex-direction: column;
        justify-content: space-between;
        @media (max-width: 767px) {
            width: auto;
            padding: 80px 0 0;
            padding: 0;
        }
    }
    &__right {
        width: min(664px, max(calc(var(--vw) * 664), 471px));
        height: 100%;
        margin: 0 auto;
    }
    &__logo {
        width: 54px;
        height: 54px;
        @media (max-width: 767px) {
            display: none;
        }
    }
    &__wallet {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    &__title {
        margin: 0;
        font-family: "Poppins", serif;
        font-weight: 600;
        font-size: min(36px, max(calc(var(--vw) * 36), 25px));
        line-height: 44px;
        letter-spacing: -2px;
        font-style: normal;
        color: var(--title);
        padding-bottom: min(41px, max(calc(var(--vw) * 41), 20px));
        @media (max-width: 767px) {
            font-size: 28px;
            line-height: 35px;
            padding-bottom: 65px;
        }
    }
    &__btn {
        display: flex;
        align-items: center;
        margin-bottom: min(36px, max(calc(var(--vw) * 36), 24px));
        width: min(396px, max(calc(var(--vw) * 396), 310px));
        background-color: var(--wwhite);
        box-shadow: 0px 0px 38px 6px var(--grey-light);
        border-radius: min(19px, max(calc(var(--vw) * 19), 7px));
        padding-left: min(29px, max(calc(var(--vw) * 29), 20px));
        padding-top:  min(25px, max(calc(var(--vw) * 25), 16px));
        padding-right:  12px;
        padding-bottom:  min(25px, max(calc(var(--vw) * 25), 16px));

        max-width: 396px;

        @media (max-width: 767px) {
            width: 316px;
            width: 84.3vw;
            height: 68px;
            box-shadow: 0px 0px 38px 6px var(--grey-light);
            margin-bottom:27px;
            padding: 12px;
        }
    }
    &__btn-custom {
        margin-top: 45px;
        width: min(386px, max(calc(var(--vw) * 386), 274px));
        height: min(76px, max(calc(var(--vw) * 76), 53px));
        font-size: min(19px, max(calc(var(--vw) * 19), 12px));
        max-width: 396px;
        @media (max-width: 1024px) {
            margin-top: 25px;
        }
        @media (max-width: 767px) {
            font-size: 14px;
            width: 84.3vw;
            height: 60px;
            border-radius: 13px;
        }
    }

    &__img {
        margin-right: 15px;
        width: 40px;
        height: 40px;
        @media (max-width: 767px) {
            width: 30px;
            height: 30px;
        }
    }

    &__text {
        padding: 0;
        margin: 0;
        font-weight: 600;
        font-size: min(19px, max(calc(var(--vw) * 19), 12px));
        font-style: normal;
        line-height: min(28px, max(calc(var(--vw) * 28), 12px));
        width: 75%;
        color: var(--title);
        &::after {
            content: '\e87d';
            font-family: eicons;
            top: 0;
            left: 25px;
            position: relative;
            transition: left 200ms;
            will-change: transform;
        }
        &:hover::after {
            left: 35px;
        }
        @media (max-width: 767px) {
            font-size: 14px;
            line-height: 22px;
        }
    }

    &__footer {
        display: flex;
        justify-content: space-between;
        width: 100%;
        // margin: auto;
        @media (max-width: 767px) {
            display: none;
        }
    }
    &__footer-item {
        margin: 0;
    }

    &__block {
        display: none;
        @media (max-width: 767px) {
            display: block;
            width: 100%;
            margin-top: auto;
        }
    }

}

.illustration {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--button);
    justify-content: center;
    @media (max-width: 767px) {
        display: none;
    }
    &__inner {
        overflow: hidden;
        border-radius: 25px;
        box-shadow: 0px 9px 34px 1px var(--blur);
        width: 391px;
        height: 394px;
        height: min(393px, max(calc(var(--vw) * 393), 280px));
        width: min(393px, max(calc(var(--vw) * 393), 280px));
        z-index: 1;
    }
    &__slides {
        display: flex;
        width: 300%;
        height: 100%;
        will-change: transform;
        transition: transform 300ms ease;
        contain: layout style;
        
        height: min(393px, max(calc(var(--vw) * 393), 280px));
    }
    &__img {
        width: 100%;
        height: 100%;
    }
    &__title {
        padding: 0;
        margin: 0;
        margin-top: min(65px, max(calc(var(--vw) * 65), 20px));
        font-family: "Public Sans", sans-serif;
        font-weight: 700;
        font-size: min(47px, max(calc(var(--vw) * 47), 12px));
        font-style: normal;
        line-height: 56px;
        line-height: min(56px, max(calc(var(--vw) * 56), 40px));
        letter-spacing: 0;
        color: var(--white);
        text-align: center;
        margin-bottom: min(14px, max(calc(var(--vw) * 14), 12px));
        padding-left: 130px;
        padding-right: 130px;
        @media (max-width: 1024px) {
            padding-left: 60px;
            padding-right: 60px;
        }
    }
    &__text {
        padding: 0;
        margin: 0;
        text-align: center;
        line-height: 28px;
        // color: var(--white);
        margin-bottom: min(63px, max(calc(var(--vw) * 63), 40px));
        font-size:  min(17px, max(calc(var(--vw) * 17), 12px));
        color: var(--grey-contrast);
        padding-left: 130px;
        padding-right: 130px;
        @media (max-width: 1024px) {
            padding-left: 60px;
            padding-right: 60px;
        }
    }
    &__btns {
        box-shadow: none;
        width: min(183px, max(calc(var(--vw) * 183), 129px));
        height: min(80px, max(calc(var(--vw) * 80), 53px));
        z-index: 111;
        justify-content: center;
        border-radius: 19px;
    }
    &__item {
        height: min(393px, max(calc(var(--vw) * 393), 280px));
        width: min(393px, max(calc(var(--vw) * 393), 280px));

    }

}
