
.creators {
    padding-bottom: min(246px, var(--vw)* 246, 175px);
    &__title {
        margin: 0;
        font-weight: 600;
        font-size: min(45px, max(var(--vw) * 45, 32px));
        line-height: min(30px, max(var(--vw) * 30, 21px));
        color: var(--title);
        text-align: center;
        padding-top: min(155px, max(calc(var(--vw) * 155), 110px));
        padding-bottom: min(130px, max(calc(var(--vw) * 130), 91px));
        @media (max-width: 767px) {
            font-size: calc(100vw * 30 / 375);
            line-height: calc(100vw * 38 / 375);
        }
    }
    &__grid {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(clamp(263px, var(--vw) * 370, 371px), 20%));
        row-gap: min(67px, var(--vw) * 67, 48px);
        column-gap: min(40px, var(--vw) * 40, 28px);
        grid-template-rows: auto;
        justify-content: center;
        
        @media (max-width: 767px) {
            grid-template-columns: repeat(auto-fill, minmax(282px, .6fr));
            // grid-template-columns: repeat(auto-fit, 25%);
            grid-template-rows: auto;
            // grid-template-rows: repeat(4, 1fr);
            // grid-auto-rows: 2;
            // grid-template-columns: repeat(auto-fill, minmax(251px, 1fr));  
        }
        @media (max-width: 375px) {
            grid-template-columns: repeat(auto-fill, minmax(70vw, 1fr));  
            overflow-y: auto; 
        }
    }
}

