.discover {
    margin-top: 110px;
    border: 0;

}

.preloader {
    padding: min(176px, max(calc(var(--vw) * 176), 125px)) 0;
    text-align: center;
    will-change: transform;
    animation: 1s ease-in-out 2s forwards fame-visible;
    @media (max-width: 375px) {
        padding: 106px 0; 
    }
    &__size {
        width: 74px;
        height: 74px;
        border-radius: 50%;
    }
}

@keyframes fame-visible {
    from {
        opacity: 0;
        visibility: visible;
    }
    to {
        opacity: 0;
        visibility: hidden;
        display: none;
    }
}
