.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 57px;
    column-gap: 3vw;
    z-index: 10;
    position: relative;
    // width: 100%;
    padding: 45px var(--container-padding-x);
    width: 100%;
    background-color: var(--background-light);
    @media (max-width: 1024px) {
        padding-inline: 4vw;
    } 
    @media (max-width: 767px) {
        margin: 0 auto;
        padding-block: 32px;
        padding-inline: 7vw;
    } 
    &__nav {
        display: flex;
        @media (max-width: 767px) {
            width: 100%;
            height: 100%;
            height: 106px;
            justify-content: center;
            position: absolute;
            background-color: var(--background-light);
            left: 0;
            border-bottom: 1px solid var(--grey-light);
        }
    }

    &__menu {
        display: flex;
        justify-content: center;
        // column-gap: calc(var(--vw) * 100);
        // column-gap: 117px;
        // column-gap: 6.1vw;
        // column-gap: calc(var(--vw) * 117);
        // column-gap: min(5vw, 117px);
        column-gap: clamp(50px, calc(var(--vw) * 117), 140px);
        // column-gap: clamp(30px, 6.1vw, 140px);
        height: min(5vw, 54px);
        // @media (max-width: 1024px) {
        //     column-gap: clamp(30px, calc(var(--vw) * 117), 140px);
        // }
        @media (max-width: 767px) {
            position: fixed;
            top:0;
            left: 0;
            padding-top: 8rem;
            flex-direction: column;
            justify-content: flex-start;
            animation: 0.5s fadeOutLeft forwards;
            // height: 100%;
            row-gap: calc(40rem/18);
            width: 100%;
            height: 100vh;
            // height: 100%;
            max-height: none;
            overflow-y: auto;
            background-color: var(--grey-light);
        }
    }
    &__control {
        display: flex;
        column-gap: 30px;
        column-gap: 1.8vw;
        @media (max-width: 767px) {
            flex-direction: column;
            column-gap: 0;
            // row-gap: calc(20rem/18);
            align-items: center;
            row-gap: 5vw;
            row-gap: min(38px, max(5vw, 24px));
        }
    }
    &__burger {
        display: none;
        @media (max-width: 767px) {
            display: flex;
            position: relative;
            z-index: 10;
            width: 31.5px;
            aspect-ratio: 1/1;
            cursor: pointer;
        }
    }
    &__btn {
        // font-size: 14px;
        font-size: min(14px, max(calc(var(--vw) * 14), 11px));
        padding-block: 18px;
        padding-block: min(18px, max(calc(var(--vw) * 18), 11px));
        padding-block: 18px;
        padding-inline: 24px;
        padding-inline: min(24px, max(calc(var(--vw) * 24), 17px));
        width: auto;
        @media (max-width: 767px) {
            font-size: 3vw;
            font-size: min(23px, max(3vw, 18px));
            padding-block: 4vw;
            padding-block: min(36px, max(4.7vw, 24px));
            padding-inline: 5vw;
            padding-inline: min(76px, max(10vw, 36px));
            border-radius: 16px;
        }
    }
}


.menu {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    // column-gap: 53px;
    // column-gap: 4vw;
    column-gap: min(3.5vw, calc(var(--vw) * 33  + 20px));
    @media (max-width: 767px) {
        flex-direction: column;
        // column-gap: 0;
        // height: 100%;
        // position: fixed;
        row-gap: 5vw;
        row-gap: min(30px, max(5vw, 20px));
        
    }
    &__link {
        font-family: Inter;
        font-size: clamp(calc(13rem/18), calc(var(--vw) * 17),  calc(18rem/18));
        font-weight: 500;
        line-height: min(26px, max(calc(var(--vw) * 26), 19px));
        letter-spacing: 1.4px;
        color:var(--grey);
        @media (max-width: 767px) {
            font-size: 4vw;
            font-size: min(30px, max(4vw, 20px));
        }
    }
    &__item {
        overflow: hidden;
        height: auto;
        padding: 10px 0;
    }
    &__bold {
        font-weight: 800;
    }
}

.icon-bar {
    --h: 2px;
    --top: 11px;
    background: var(--button);
    position: relative;
    top: 12px;
    display: block; //создаем элементы бургера
    width: 31.5px;
    height: var(--h);
    
    &::before {
        top: calc(var(--top) * -1);
        will-change: transform;
        transition: top .25s .25s,transform .25s;
    }
    &::after {
        top: var(--top);
        will-change: transform;
        transition: top .25s .25s,transform .25s;
    }
    &::after, &::before {
        background: var(--button);
        content: "";
        position: absolute;
        left: 0;
        width: 100%;
        height: var(--h);
    }
}

@media (max-width: 767px) {
    .fadeIn--open .header__menu {
        animation: 0.5s fadeInLeft forwards;
    }
    // бургер новый
    .fadeIn--open .icon-bar::before {
        top: 0;
        transform: rotate(-45deg);
        will-change: transform;
        transition: top .25s,transform .25s .25s;
    }

    .fadeIn--open .icon-bar::after {
        top: 0;
        transform: rotate(45deg);
        will-change: transform;
        transition: top .25s, transform .25s .25s;
    }

    .fadeIn--open .icon-bar {
        background: 0 0;
    }
}



@keyframes fadeOutLeft {
    from {
        opacity: 1;
        transform: none;
    }
    to {
        opacity: 0;
        transform: translate3d(-100%, 0, 0)
    }
}
@keyframes fadeInLeft {
    from {
        opacity: 0;
        transform: translate3d(-100%, 0, 0)
    }
    to {
        opacity: 1;
        transform: none;
    }
}

.logo {
    display: flex;
    align-items: center;
    column-gap: 10px;
    &__link {
        z-index: 10;
        display: block;
        position: relative;
        height: auto;
        &-img {
            max-width: 38px;
        }
    }
    &__text {
        font-size: 21.36px;
        font-weight: 600;
        line-height: 28px;
        color: var(--button);
        display: none;
        @media (max-width: 767px) {
            display: block; 
            z-index: 10;
        }
    }
}

.underline-anime {
    padding-bottom: 2px;
    position: relative;
}

.underline-anime::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: var(--grey);
    opacity: 0;
    transform: translate3d(-100%, 0, 0); //прячем черту левее блока, он скрыт из-за overflow: hidden;
    transition: opacity 300ms, transform 900ms;
    will-change: transform;
}

.underline-anime:hover::after {
    transform: translate3d(0, 0, 0);
    opacity: 1;
}

// иконка лупы 
.text-field {
    display: flex;
    align-items: center;
    width: 348px;
    width: clamp(247px, calc(var(--vw) * 348), 348px);
    position: relative;
    @media (max-width: 1024px) {
        width: clamp(160px, 21vw, 348px);
    }
    @media (max-width: 767px) {
        justify-content: center;
        width: auto;
    }
    &__input {
        color: var(--grey);
        display: block;
        width: 100%;
        // max-width: 348px;
        max-width: 28.4vw;
        height: 100%;
        font-family: Poppins;
        font-size: clamp(calc(11rem/18), calc(var(--vw) * 16), calc(17rem/18));
        font-weight: 500;
        // line-height: 18px;
        line-height: min(18px, max(calc(var(--vw) * 18 ), 19px));
        background-color: var(--background-internal);
        background-clip: padding-box;
        border: 1px solid var(--background-internal);
        border-radius: 4px;
        will-change: transform;
        transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
        appearance: none;
        
        padding-left: min(54px, 5vw);
        // padding-right: 58px;
        padding-right: 3.1vw;
        border-radius: 16px;
        @media (max-width: 767px) {
            padding-left: 3rem;
            width: 100%;
            max-width: none;
            font-size: min(22px, max(2.9vw, 15px));
            padding-block: 5vw;
            padding-block: min(20px, max(2.7vw, 14px));
            border-radius: 16px;
            width: 52vw;
            width: min(367px, max(48vw, 243px));

        }
    }
    &__input:focus {
        color: grey;
        border-color: grey;
        outline: 0;
        box-shadow: 0 0 0 1.6px grey;
        position: relative;
    }
    &::before {
        content: '';
        width: min(1rem, calc(var(--vw) * 10 + 8px)); 
        height: min(1rem, calc(var(--vw) * 10 + 8px)); 
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='%23bdbdbd' viewBox='0 0 16 16'%3E%3Cpath d='M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z'%3E%3C/path%3E%3C/svg%3E");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        position: absolute;
        transform: translateX(1rem);
        z-index: 10;
        @media (max-width: 767px) {
           width: 20px; 
           height: 20px; 
           left: 14px;
           transform: translateX(0);
        }
    }
}