.btn {
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;  
    justify-content: center;
    cursor: pointer;
    will-change: transform;
    transition: background-color 0.2s;
    border-radius: var(--radius-b);
    font-size: min(18px, max(calc(var(--vw) * 18px), calc(11rem/18)));
    line-height: min(25px, max(calc(var(--vw) * 25), calc(11rem/18)));

    &-block {
        display: flex;
        border-radius: 16px;
        overflow: hidden;
        background-color: transparent;
        box-shadow: 0px 20px 30px 3px var(--grey-light50);
        @media (max-width: 375px) {
            border-radius: 8px;
        }
    }
    &-black {
        background-color: var(--button);
        border: 2px solid var(--button);
        color: var(--white);
        font-family: Inter;
        font-weight: 600;
        &:hover {
            background-color: var(--grey);
            border: 2px solid var(--grey);
            color: var(--white);
        }
        @media (max-width: 1024px) {
            font-size: 12px;
            border-radius: var(--radius-s);
        }
        @media (max-width: 767px) {
            justify-content: center;
        }
        @media (max-width: 375px) {
            border-radius: 8px;
        }
    }
    &-white {
        background-color: var(--white);
        border: 2px solid var(--button);
        color: var(--button);
        font-family: Inter;
        font-weight: 600;
        &:hover {
            background-color: var(--grey);
            border: 2px solid var(--grey);
            color: var(--white);
        }
        @media (max-width: 1024px) {
            font-size: 12px;
            border-radius: 6px;
        }
        @media (max-width: 767px) {
            justify-content: center;
        }
    }
    &-spike-prev {
        padding: 0;
        width: 90px;
        width: 50%;
        height: 75px;
        height: 100%;
        border-radius: 0;
        background-color: var(--background-light);
        display: flex;
        align-items: center;
        border: 0px;
        &::after {
            content: '\e8bf';
            font-family: eicons;
            top: 1px;
            left: 0;
            position: relative;
            will-change: transform;
            transition: transform 200ms;
            transform: scale(1);
            will-change: transform;
        }
        &:hover::after {
            transform: scale(1.5);
        }
    }
    &-spike-next {
        padding: 0;
        width: 90px;
        width: 50%;
        height: 75px;
        height: 100%;
        border-radius: 0;
        background-color: var(--background-light);
        display: flex;
        align-items: center;
        border: 0;
        &::after {
            content: '\e8c0';
            font-family: eicons;
            top: 1px;
            left: 0;
            position: relative;
            transition: transform 200ms;
            transform: scale(1);
            will-change: transform;
        }
        &:hover::after {
            transform: scale(1.5);
        }
        &::before {
            content: '';
            border-right: 2px solid var(--grey-light);
            left: -1px;
            position: absolute;
            height: 50%;
            height: 38%;
        }
    }
    &-card {
        margin: 0;
        background-color: var(--button);
        border: 0px solid var(--button);
        color: var(--white);
        font-family: Inter;

        padding: min(15px, max(calc(var(--vw) * 15), 10px)) min(24px, max(calc(var(--vw) * 24), 18px));

        width: auto;
        font-size: min(14px, max(calc(var(--vw) * 14), 12px));
        line-height: min(21px, max(calc(var(--vw) * 21), 15px));
        letter-spacing: 0.12px;
        letter-spacing: min(0.12px, max(calc(var(--vw) * 0.12), 0.08px));
        color: var(--grey-light);

        border-radius: min(12px, max(calc(var(--vw) * 12), 8px));
        height: auto;
    }
    &-card-person {
        font-size: 12px;
        padding: min(11px, max(calc(var(--vw) * 11), 7px)) min(18px, max(calc(var(--vw) * 18), 12px));
        @media (max-width: 767px) {
            line-height: 11px;
            padding: 7px;
            border-radius: 6px; 
        }
    }
    &-explore {
        margin: 0;
        padding: 0;
        display: block;
        font-weight: 500;
        font-size: min(18px, max(calc(var(--vw) * 18), 13px));
        font-style: normal;
        line-height: min(39px, max(calc(var(--vw) * 39), 28px));
        letter-spacing: -0.09px;
        text-align: right;
        color: var(--grey-light-contrast);
        will-change: transform;
        transition: all .5s ease;
        &::after {
            content: '\e8c0';
            font-family: eicons;
            color: var(--grey-light-contrast);
            left: 0px;
            position: relative;
            will-change: transform;
            transition: left .2s ease;
        }
        &:hover::after {
            left: 10px;
            cursor: pointer;
            position: relative;
        }
        @media (max-width: 375px) {
            text-align: center;
        }
    }
    &-unleash, &-community {
        padding: min(18px, max(var(--vw)* 18, 14px)) min(20px, max(var(--vw)* 20, 14px));
        font-weight: 500;
        font-size: min(14px, max(calc(var(--vw) * 15), 12px));
        line-height: min(18px, max(calc(var(--vw) * 18), 13px));
        font-style: normal;
        letter-spacing: normal;
        color: var(--white);
        position: relative;
        border-radius: 12px;
        &::after {
            content: '\e8c0';
            font-family: eicons;
            color: var(--white);
            left: 6px;
            position: relative;
            will-change: transform;
            transition: left .2s ease;
        }
        &:hover::after {
            left: 10px;
            cursor: pointer;
            position: relative;
        }
        @media (max-width: 767px) {
            width: auto;
            height: auto;
            padding: 20px 36px;
            font-size: 12px;
            line-height: 14px;
        }
        @media (max-width: 375px) {
            padding: 10px 17px;
            font-size: min(14px, max(12px, calc(var(--vw) * 14)));
            line-height: min(21px, max(15px, calc(var(--vw) * 21)));
        }
    }
    &-community {
        &::after {
            content: '';
        }
        @media (max-width: 767px) {
            padding: 1.4vw 2.2vw;;
            font-size: min(14px, max(12px, calc(var(--vw) * 14)));
            line-height: min(21px, max(15px, calc(var(--vw) * 21)));
        }
        @media (max-width: 375px) {
            line-height: 9px;
        }
    }
	&-product {
		width: auto;
		height: auto;
		font-size: min(18px, max(var(--vw) * 18, 13px));
		line-height: min(28px, max(var(--vw) * 28, 20px));
		font-weight: 700;
		padding: min(33px, max(var(--vw) * 33, 19px)) min(57px, max(var(--vw) * 57, 19px));
		&::before {
			content: '';
			background-image: url('./assets/img/wallet.png');
			background-image: image-set(url("./assets/img/wallet.webp") type("image/webp"));
			width: 22px;
			height: 22px;
			margin-right: 20px;
		}
		@media (max-width: 767px) {
			margin-top: min(46px, max(14vw, 20px));
			padding-top: min(19px, max(6vw, 10px));
			padding-bottom: min(19px, max(6vw, 10px));
		}
	}
    &-dual {
        width: 166px;
        height: 68px;
        width: min(170px, max(calc(var(--vw) * 170), 118px));
        height: min(70px, max(calc(var(--vw) * 70), 49px));
        display: flex;
        align-items: center;
        overflow: hidden;
        border-radius: var(--radius-b);
        z-index: 100;
        background-color: transparent;
        box-shadow: 0px 20px 30px 3px var(--grey-light50);
        @media (max-width: 1024px) {
            border-radius: var(--radius-m);
        }
        @media (max-width: 767px) {
            width: min(118px, max(calc(var(--vw) * 118), 88px));
            height: min(49px, max(calc(var(--vw) * 49), 36px));
        }
    }
}
